# Environment
.env
backend/.env

# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Uploads
backend/uploads/

# Logs
*.log
backend/backend.err.log
backend/backend.out.log

# Build
frontend/dist/
# Local Netlify folder
.netlify
